
<header>

    <app-menu-bar></app-menu-bar>

</header>
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card></app-big-card>
        
    </div>    
    
    <div class="articles__others">
        <app-smal-card [title]="'Projeto Cadastro Funcionário'" [link]="'https://github.com/vinicaliel/Cadastro_Funcion-rio'"></app-smal-card>
        <app-smal-card [title]="'Projeto Boards de Tarefas'" [link]="'https://github.com/vinicaliel/Desafio-Board-Tarefas'"></app-smal-card>
        <app-smal-card [title]="'Projeto Angular Portifólio'" [link]="'https://github.com/vinicaliel/Angular-blog'"></app-smal-card>
        
    </div>

</div>